body{
    background-image: url('hiroshi-nagai-coastline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Lucida Mono", monospace;
}
